INPUT 
{ 
	FONT-SIZE: 12px; 
	COLOR: black; 
	FONT-FAMILY: verdana;
	border-radius:2px;
}

TEXTAREA
{
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana;
}

	
TABLE 
{ 
	FONT-SIZE: 12px; 
	FONT-FAMILY: verdana; 
	border:0px solid black; 
}
	
BODY 
{ 
	MARGIN-TOP: 0px; 
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	FONT-SIZE: 12px; 
	FONT-FAMILY: verdana; 
}

A:link {color: blue;}
A:visited {color: blue;}
A:hover {color: blue;}

SELECT 
{ 	
	FONT-SIZE: 12px; 
	FONT-FAMILY: verdana;
	border-radius:2px;
}

.tdHeader
{
	border:solid 1px #C0C0C0;
	background-color:#B5C7E7; 
	text-align:center; 
	color:#18386B; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:26px
}

.menuBgColor
{
	Background-color:#B5C7E7;
}

.tdProductList
{
	Background-color: Navy;
	text-color: #FFFFFF;
	font-weight:bold;
}

.tdHdrData
{
	border:solid 1px #C0C0C0;
	background-color:#B5C7E7; 
	text-align:center; 
	color:#18386B; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:20px
}

.mandatory
{
	background-color:#FFDFbf;
}

.mandatoryColl
{
	background-color:#FFDFbf;
}

.mandatoryColor
{
	background-color:#FFDFbF;
}

.mandatory2
{
	background-color:#FFDFbf;
}
.mandatory3
{
	background-color:#FFDFbf;
}


.tdLabel
{

	background-color:#e5ebf4; 
	color:#000000; 

}

.td 
{
	border:solid 0px #C0C0C0; 
}

TD 
{
	HEIGHT: 21px;
}

.bText 
{
	FONT:bold 12px verdana;
}

.tdNoBorder 
{ 
	border:solid 0px #C0C0C0;
	color:#fffff0; 
	font-weight:bold 
}

IMG
{ 
	border:solid 0px #C0C0C0;
}

.TblAlternating
{
	BACKGROUND-COLOR: #EFF3FF
}

.tdHeader1
{
	border:solid 1px #C0C0C0;
	background-color:#B5C7E7; 
	text-align:center; 
	color:#18386B; 
	font-weight:bold;
	font-size:14px;
	HEIGHT:28px
}

.tdSmallHeader
{
	border:outset 1px #000000;
	background-color:#B5C7E7; 
	text-align:center; 
	color:#18386B; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:26px
}

.Button1
{
	background-color:#18386B;
	text-align:center; 
	text-decoration: none;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	HEIGHT:28px;
	border:none;
	cursor:pointer;
}
.Button1:hover
{
	background-color:white;
	color:black;
	border: 2px solid #18386B;
}

.TDBGColor
{
	background-color:linen;
}


.TDBGColor0
{
	background-color:#e5ebf4;
	color:black;
}
	


.TDBGColor1
{
	background-color:#e5ebf4;
	color:black;
	border:1px groove #FFFFFF;
	text-align:right; 
}

.TDBGColor11
{
	background-color:#e5ebf4;
	color:black;
	border:1px groove #FFFFFF;
}

.TDBGColor2
{
	background-color:#DCDCDC;
	color:black;
	border:2px groove #FFFFFF;
	text-align:center; 
}

.TDBGColorValue
{
	BORDER-BOTTOM: #000000 1px outset;
	background-color:white;
	color:black;
}

LEGEND
{
	background-color:white;
	text-align:left;
	color:black; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:20px
}

.Link
{
	border:3px outset #FFFFFF;
	background-color:linen;
	text-align:center;
	color:black; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:26px
}

.Link1
{
	border:1px outset #FFFFFF;
	background-color:#18386B;
	text-align:center;
	color:white; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:20px
}

.BackGroundList
{
	BORDER-BOTTOM: #000000 1px outset;
	background-color:linen;
	color:black;
}

.HeaderPrint
{
	background-color : whitesmoke;
	border-bottom: black 1px outset;
	border-left: black 1px outset;
	border-right: black 1px outset;
	text-align: center;
}

.ItemPrint
{
	border-left: black 1px outset;
	border-right: black 1px outset;
}

.HeaderReport
{	
BORDER-BOTTOM: #000000 0px outset;
background-color:#B5C7E7;
text-align:center;
font-weight:700;
font-size:14px;
color:black;
height:30;
}


.NoReport
{
BORDER-BOTTOM: #000000 0px outset;
background-color:#B5C7E7;
color:black;
font-weight:700;
}

.HeaderReportList
{
	border: black 1px outset;
	text-align:center;
	background-color : #e5ebf4;
	font-size:12px;
	font-weight:700;
}

.ReportList
{
	border: black 1px outset;
	text-align:center;
}

.btn-mandy
{
	background-color:#FFDFbf;
}

.select-new
{
	padding:5px 5px 8px 8px;
	width:auto;
	font-size:14px;
}

.text-new
{
	padding:5px 5px 8px 8px;
	width:auto;
	font-size:14px;
}