<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="51200" executionTimeout="7200"/>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add extension=".rdl" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <!--    
        <customErrors
    defaultRedirect="LastError.aspx"
    mode="On"
    mode="Off"
    /> 
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name=".SME" loginUrl="authenticate.aspx" protection="All" timeout="60" path="/"/>
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <deny users="?"/>
      <!-- <allow users="*" />  -->
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60000"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="id-ID" uiCulture="id-ID"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <appSettings>
    <add key="conn" value="Data Source=(local);Initial Catalog=LOSSME;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="connME" value="Data Source=(local);Initial Catalog=LOSSME;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="connectionString" value="Data Source=(local);Initial Catalog=LOSSME;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="ConnBDE" value="Data Source=10.254.33.67;Initial Catalog=CENTRALDB_UAT;uid=psa;pwd=password;Pooling=true"/>
    <add key="eSecurityConnectString" value="Data Source=(local);Initial Catalog=LOSSME-OLD;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="conn2" value="Data Source=10.204.37.226;Initial Catalog=DQA;uid=psa;pwd=dmscorp;Pooling=true"/>
    <add key="connMobile" value="Data Source=(local);Initial Catalog=SMEWEBAPI;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="ModuleID" value="01"/>
    <add key="ServerUrl" value="http://localhost/ReportServer"/>
    <add key="ReportUser" value="Mas Sofyan"/>
    <add key="ReportPassword" value="Nayf0s"/>
    <add key="DomainName" value="localhost"/>
    <add key="IsCAS-BPMCR" value="YES"/>
    <add key="IsCAS-BPSML" value="NO"/>
    <add key="serverPath" value="F:\SOURCE\BANKRESONA\SME\"/>
    <add key="crpairing1" value="BPMCBM-BPMCCR#BPSMBM-BPSMCR#BPALBM-BPCRA#BPRM-BPCRR#BPGH-BPBCRM#BPDIR-BPCRKP#BPMCBM-BPMCCA"/>
    <add key="crpairing1-BPMCR1" value="BPMCBM-BPMCCA#BPSMBM-BPSMCR#BPALBM-BPCRA#BPRM-BPCRR#BPGH-BPBCRM#BPDIR-BPCRKP#BPMCBM-BPMCCR"/>
    <add key="crpairing1-BPSML1" value="BPMCBM-BPMCCR#BPSMBM-BPSMCR#BPALBM-BPCRA#BPRM-BPCRR#BPGH-BPBCRM#BPDIR-BPCRKP"/>
    <add key="crpairing" value="BPMCBM-BPMCCR"/>
    <add key="crpairing-BPMCR" value="BPMCBM-BPMCCR"/>
    <add key="crpairing-BPSML" value="BPMCBM-BPMCCR"/>
    <add key="email" value="BPMCBM-BPSMBM-BPABLM"/>
    <add key="appDashUrl" value="http://localhost/DashLos-PAPUA"/>
    <!-- 
      BP9.2  Approval Branch Manager
      BP9.3  Approval ABLM
      BP9.4  Approval Regional Manager
      BP9.5  Approval Group Head / CPS / Flying
      BP9.6  Approval Direksi
    -->
  </appSettings>
  <!--
  <appSettings>
    <add key="conn" value="Data Source=KP-SQL2012-P01.bankpundi.co.id;Initial Catalog=LOSSME;uid=bpi_los;pwd=Pundi*123;Pooling=true" />
    <add key="connME" value="Data Source=KP-SQL2012-P01.bankpundi.co.id;Initial Catalog=LOSSME;uid=bpi_los;pwd=Pundi*123;Pooling=true" />
    <add key="connectionString" value="Data Source=KP-SQL2012-P01.bankpundi.co.id;Initial Catalog=LOSSME;uid=bpi_los;pwd=Pundi*123;Pooling=true" />
    <add key="ConnBDE" value="Data Source=KP-SQL2012-P01.bankpundi.co.id;Initial Catalog=CENTRALDB_UAT;uid=psa;pwd=password;Pooling=true" />
    <add key="eSecurityConnectString" value="Data Source=KP-SQL2012-P01.bankpundi.co.id;Initial Catalog=LOSSME-OLD;uid=bpi_los;pwd=Pundi*123;Pooling=true" />
    <add key="conn2" value="Data Source=KP-SQL2012-P01.bankpundi.co.id;Initial Catalog=DQA;uid=bpi_los;pwd=Pundi*123;Pooling=true" />
    <add key="ModuleID" value="01" />
    <add key="ServerUrl" value="http://KP-SQL-2012:80/IndofreakReports" />
    <add key="ReportUser" value="administrator" />
    <add key="ReportPassword" value="qwerty1!" />
    <add key="DomainName" value="KP-SQL2012-P01" />
    <add key="IsCAS" value="YES" />
    <add key="IsCAS-BPMCR" value="YES" />
    <add key="serverPath" value="c:\inetpub\wwwroot\SME\" />
  </appSettings>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWord"/>
        <binding name="WSHttpBinding_IUploadToCore"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6667/ExportWord/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWord" contract="SMEExportImport.IWord" name="WSHttpBinding_IWord">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6667/UploadToCore/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUploadToCore" contract="UploadingToCore.IUploadToCore" name="WSHttpBinding_IUploadToCore">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="development.it@bankpundi.co.id">
        <network defaultCredentials="false" host="mail.bankpundi.co.id" password="B@ngpund1" port="587" userName="development.it"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>