.MenuGroup
{
  background-color:#808080;
  border:1px;
  border-style:solid;
  border-top-color:gray; 
  border-left-color:gray; 
  border-right-color:#808080; 
  border-bottom-color:#808080; 
}

.MenuItem
{
  font-family:Verdana; 
  font-size:10px; 
  font-weight:bold; 
  padding:3px;
  padding-left:5px;
  padding-right:12px;
  cursor:default;
  color:white; 
  cursor:hand;
}

.MenuItemOver 
{
  font-family:Verdana; 
  font-size:10px; 
  font-weight:bold; 
  text-decoration:underline; 
  padding:3px;
  padding-left:5px;
  padding-right:12px;
  cursor:default;
  color:white; 
  cursor:hand;
}

.MenuItemDown 
{
  font-family:Verdana; 
  font-size:10px; 
  font-weight:bold; 
  text-decoration:underline; 
  padding:3px;
  padding-left:5px;
  padding-right:12px;
  cursor:default;
  color:red; 
  cursor:hand;
}

.DisabledMenuItem
{
  font-family:Verdana; 
  font-size:10px; 
  font-weight:bold; 
  padding:3px;
  padding-left:5px;
  padding-right:12px;
  cursor:default;
  color:gray; 
}

.DisabledMenuItemOver 
{
  font-family:Verdana; 
  font-size:10px; 
  font-weight:bold; 
  padding:3px;
  padding-left:5px;
  padding-right:12px;
  cursor:default;
  color:gray; 
}

.MenuBreak
{
  margin-left:27px; 
  margin-right:2px; 
}